body {
    background-color: #FEE715;
    color: #101820;
}

.recipe-list {
    font-size: 24px;
    text-align: center;
    list-style-type: none;
}

a {
    color: #101820;
}

h1 {
    text-align: center;
    background-color: #ffffff;
    border-radius: 15px;
    border: 5px solid black;
}

.recipe-list li a {
    margin: 40px;
    padding: 40px;
    background-color: aliceblue;
    display: block;
    border-radius: 20px;
    text-decoration: none;
    border: 5px solid black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-list a:hover {
    background-color: black;
    color: aliceblue;
    border: 5px solid aliceblue;
}